* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1a19;
  width: 375px;
  height: 590px;
  top: 92px;
}

.navlogo {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  padding: 20px;
}

.navlogo a {
  color: #fff;
  text-decoration: none;
}

.header_info_section {
  height: 519px;
  background-image: url("images/Group.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  align-items: flex-start;
}

.Navbar {
  padding: 7% 10% 0% 0%;
  width: 100%;
}

.icon {
  width: 90px;
  height: 28px;
  padding: 5% 0% 0% 0%;
  font-weight: 600;
  color: #ffff;
}

#hamburger {
  color: #ffff;
}

h1 {
  margin: 150px 10px 10px 20px;
}

h2 {
  margin: 5px 10px 10px 20px;
}

p {
  margin: 2px 30px 30px 20px;
}

.greeting-header {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.SupportingText {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.Description {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
  list-style: none;
  width: 10.636rem;
  gap: 8px;
  order: 3;
  align-items: center;
  margin: 0% 0% 0% 7%;
}

/* container for all works */

.works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px repeat(3,auto);
  justify-content: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background: #fff;
}

/* container for Recent works title */

.title {
  display: flex;
  flex-direction: column;
  width: 327px;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
}

/* Heading for Recent Works */

.recentworks {
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
  width: 327px;
  height: 83px;
}

.works1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: -5% 0% 0% 0%;
}

.work1Title {
  width: 327px;
  height: 36px;
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.work1Description {
  width: 327px;
  height: 147px;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  text-align: left;
  margin: -2% 5% 0% -1%;
}

.work1Languages {
  width: 314px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 207px;
  gap: 12px;
  list-style: none;
  margin: 10% 0% 0% -1%;
}

.work1Button{
  background-color: #fff;
  flex-direction: row;
  padding: 10px 12px;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid #8993a4;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  margin: 10% 0% 0% 2%;
}

.Works1Link {
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 5px;
  cursor: pointer;
  width: 124px;
  margin: 6% 0% 0% -1%;
}

.work1Link:active {
  background-color: #e05304;
}

.work1link:hover {
  background-color: #fff5e1;
  border: #f55800;
  color: #f55800;
}

.work1Link:disabled {
  background-color: #f4f1f0;
  border: none;
}

.otherprofessions {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(7,370px);
  justify-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.work2 {
  display: flex;
  flex-direction: column;
  background-image: url(images/Img\ Placeholder\ \(1\).png);
  background-repeat: no-repeat;
  margin-top: 24px;
  height: 372px;
  justify-content: center;
  margin: 0% 25% 0% 30%;
}

.work2title {
  width: 295px;
  height: 81px;
  color: #fff;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  padding-top: 24px;
  margin: 0% 10% 0% 10%;
}

.work2Description {
  width: 301px;
  height: 99px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top:  10px;
  padding-left: 13px;
  margin-top: 24px;
}

.work2Languages {
  display: flex;
  list-style: none;
}

.work2Button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  flex-direction: row;
  display: flex;
  background: rgba(255, 255, 255, 0.24);
  border: none;
  color: #fff;
  padding: 10px 12px;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
  margin: 32px 12px 12px 12px;
}

.work2Link {
  background: #ff6b00;
  color: #ffffff;
  font-weight: 700;
  width: 327px;
  height: 48px;
  border: none;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  }

.work2Link:active {
  background-color: #e05304;
}

.work2Link:hover {
  border: #f55800;
}

.work2Link:disabled {
  background-color: #f4f1f0;
  border: none;
  color: #5b5957;
}

.aboutMe {
  /* width: 375%; */
  /* height: 1805px; */
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  position: relative;
  /* margin: 100px auto 0; */
}

.aboutmeTitle {
  width: 327px;
  height: 79px;
  color: #ff6b00;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.aboutMeDescription {
  /* width: 327px;
  height: 148px; */
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
}

.resumeContainer {
  padding-top: 36px;
}

.resumebutton {
  width: 156px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 12px;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  margin: -7% 6% 0% 6%;
}

.resumebutton:active {
  background-color: #e05304;
}

.resumebutton:hover {
  background-color: #fff5e1;
  border: #f55800;
  color: #f55800;
}

.resumebutton:disabled {
  background-color: #f4f1f0;
  border:none
}

.background-img2 {
  background: url('images/Group\ \(1\).png');
  width: 160px;
  height: 260px;
  height: 260px;
  background-repeat: no-repeat;
  position: absolute;
  top: 370px;
  right: 0;
}

.line2 {
  padding-top: 200px;
}

.Language {
  font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 10%;
    justify-content: center;
}

.Rectangle {
  width: 18px;
  height: 18px;
  margin: -9% 5% 0% 20%;
}

.list1 {
  list-style: none;
  color: #fff;
  justify-content: center;
  margin: 5% 0% 2% 0%;
}

.Ruby {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center; 
}

.Rectangle55 {
  width: 18px;
  height: 18px;
  margin: -10% 0% 0% 10%;
}

.Rectangle56 {
  width: 18px;
  height: 18px;
  margin: -9% 25% 20% 30%;
}

