* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1a19;
  width: 375px;
  height: 590px;
  top: 92px;
}

.navlogo {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  padding: 20px;
}

.navlogo a {
  color: #fff;
  text-decoration: none;
}

.header_info_section {
  height: 519px;
  background-image: url("images/Group.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  align-items: flex-start;
}

.Navbar {
  padding: 7% 10% 0% 0%;
  width: 100%;
}

.icon {
  width: 90px;
  height: 28px;
  padding: 5% 0% 0% 0%;
  font-weight: 600;
  color: #ffff;
}

#hamburger {
  color: #ffff;
}

h1 {
  margin: 150px 10px 10px 20px;
}

h2 {
  margin: 5px 10px 10px 20px;
}

p {
  margin: 2px 30px 30px 20px;
}

.greeting-header {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.SupportingText {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.Description {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
  list-style: none;
  width: 10.636rem;
  gap: 8px;
  order: 3;
  align-items: center;
  margin: 0% 0% 0% 7%;
}

.works-section {
  height: auto;
  background-color: #e5e5e5;
  padding-top: 150px;
  padding-bottom: 120px;
}

.Title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin: 1px 1px 10px 1px;
}

.Vector {
  border: 1px;
  align-items: center;
  margin: 5% 0% 2% 5%;
  order: 1;
}

.imgPlaceholder {
  width: 327px;
  height: 237px;
  left: 24px;
  margin: 80px 50% 10% 5%;
}

.TitlePost {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #091e42;
  display: flex;
}

.Titlepost {
  padding: 12px;
  margin: 24px 1px 120px -10px;
}

.TextSupportingTest {
  width: 327px;
  height: 147px;
  size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: -120px 1px 1px 1px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  gap: 12px;
  margin: 20px 1px 1px 15px;
}

.Button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  background: #ff6b00;
  align-items: center;
  letter-spacing: 0.03em;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  flex: none;
  order: 3;
  margin: 5% 1% 1% 4%;
}

.MaskGroup {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(image_processing20200427-30692-7af91d.png);
  background-color: #e5e5e5;
  margin: 10% 5% 9% 6%;
  width: 327px;
  padding-right: 10px;
}

.TextTitlePost {
  width: 295px;
  height: 81px;
  top: 8px;
  left: 16px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #e5e5e5;
  margin: -105% 0% 0% 4%;
}

.textsupportingtext {
  width: 295px;
  height: 99px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 2% 0% 12% 5%;
}

.tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  gap: 12px;
  margin: 10% 0% 12% 8%;
}

.Action {
  width: 327px;
  height: 48px;
  margin: 14% 24% 10% 6%;
}

.Testseeproject {
  width: 100px;
  height: 24px;
  margin: -20% 8% 0% 35%;
}

.MaskGroup2 {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(image_processing20200427-30692-7af91d.png);
  background-color: #e5e5e5;
  margin: 3% 5% 9% 6%;
  width: 327px;
}

.TextTitlePost1 {
  width: 295px;
  height: 81px;
  top: 8px;
  left: 16px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #e5e5e5;
  margin: -105% 0% 0% 4%;
}

.textsupportingtext1 {
  width: 295px;
  height: 99px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 2% 0% 12% 5%;
}

.tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  gap: 12px;
  margin: -7% 0% 12% 8%;
}

.Action1 {
  width: 327px;
  height: 48px;
  margin: 8% 24% 11% 6%;
}

.Testseeproject1 {
  width: 100px;
  height: 24px;
  margin: -20% 8% 0% 35%;
}

.MaskGroup3 {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(image_processing20200427-30692-7af91d.png);
  background-color: #e5e5e5;
  margin: 2% 0% 20% 6%;
  width: 327px;
}

.TextTitlePost2 {
  width: 295px;
  height: 81px;
  top: 8px;
  left: 16px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #e5e5e5;
  margin: -105% 0% 0% 4%;
}

.textsupportingtext2 {
  width: 295px;
  height: 99px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 2% 0% 12% 5%;
}

.tag4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  gap: 12px;
  margin: -7% 0% 12% 8%;
}

.Action2 {
  width: 327px;
  height: 48px;
  margin: 14% 24% 10% 6%;
}

.Testseeproject2 {
  width: 100px;
  height: 24px;
  margin: -20% 8% 0% 35%;
}

.MaskGroup4 {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(image_processing20200427-30692-7af91d.png);
  background-color: #e5e5e5;
  margin: 3% 0% 20% 6%;
  width: 327px;
}

.TextTitlePost3 {
  width: 295px;
  height: 81px;
  top: 8px;
  left: 16px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #e5e5e5;
  margin: -105% 0% 0% 4%;
}

.textsupportingtext3 {
  width: 295px;
  height: 99px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 2% 0% 12% 5%;
}

.tag5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  gap: 12px;
  margin: -7% 0% 12% 8%;
}

.Action3 {
  width: 327px;
  height: 48px;
  margin: 14% 24% 10% 6%;
}

.TestSeeproject3 {
  width: 100px;
  height: 24px;
  margin: -20% 8% 0% 35%;
}

.MaskGroup5 {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(image_processing20200427-30692-7af91d.png);
  background-color: #e5e5e5;
  margin: 3% 0% 20% 6%;
  width: 327px;
}

.TextTitlePost4 {
  width: 295px;
  height: 81px;
  top: 8px;
  left: 16px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #e5e5e5;
  margin: -105% 0% 0% 4%;
}

.textsupportingtext4 {
  width: 295px;
  height: 99px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 2% 0% 12% 5%;
}

.tag6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  gap: 12px;
  margin: -7% 0% 12% 8%;
}

.Action4 {
  width: 327px;
  height: 48px;
  margin: 14% 24% 10% 6%;
}

.Testseeproject3 {
  width: 100px;
  height: 24px;
  margin: -20% 8% 0% 35%;
}

.MaskGroup6 {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(image_processing20200427-30692-7af91d.png);
  background-color: #e5e5e5;
  margin: 3% 0% 20% 6%;
  width: 327px;
}

.TextTitlepost5 {
  width: 295px;
  height: 81px;
  top: 8px;
  left: 16px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #e5e5e5;
  margin: -105% 0% 0% 4%;
}

.textsupportingtext5 {
  width: 295px;
  height: 99px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 2% 0% 12% 5%;
}

.tag7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  gap: 12px;
  margin: -7% 0% 12% 8%;
}

.Action5 {
  width: 327px;
  height: 48px;
  margin: 14% 24% 10% 6%;
}

.Testseeproject4 {
  width: 100px;
  height: 24px;
  margin: -20% 8% 0% 35%;
}

.About-me-section {
  width: 375px;
  height: 1801px;
  left: 0;
  top: 4137px;
  background: #1c1a19;
}

.Primarytext {
  height: 79px;
  top: 120px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 40% 0% 0% 0%;
  flex: none;
}

.TextDescription {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 8% 1% 1% 1%;
}

.Enable {
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 156px;
  height: 48px;
  order: 2;
  margin: 10% 10% 0% 2%;
}

.Grouplogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 234px;
  top: 230px;
  margin: -10% 1% 1% 1%;
}

.Vectorline {
  justify-content: flex-end;
  height: 0;
  left: 0;
  right: 0;
  margin: 3% 0% 30% 8%;
}

.Language {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  margin: 15% 0% 0% 0%;
  justify-content: center;
}

.Rectangle55 {
  width: 18px;
  height: 18px;
  margin: -7% 3% 0% 15%;
}

.Javascript {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 8% 0% 0% 0%;
}

.Ruby {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.HTML {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.CSS {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Frameworks {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Rectangle56 {
  width: 18px;
  height: 18px;
  margin: -16% 13% 0% 12%;
}

.React {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 10% 0% 5% 5%;
}

.RubyonRails {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.RSpec {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Capybara {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Skills {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Rectangle57 {
  width: 18px;
  height: 18px;
  margin: -16% 13% 10% 25%;
}

.Database {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Versioncontrol {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.cli {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.apidesign {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.webdevelopment {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 8% 1% 1% 1%;
}
